# Node modules
node_modules/
**/node_modules/

# Next.js build output
.next/
**/out/

# Express build output
dist/
**/dist/

# Local database & logs
*.db
*.db-journal
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
.vercel
**/.vercel
